<article>
    <strong class="ps-1"><%= email.email %></strong>
    <p class="ps-2"><%= email.comment %></p>
</article>

<article class="w-100 d-flex justify-content-start ps-0">
    <button class="btn btn-dark mx-1">
        <%= link_to "Edit", edit_person_email_path(@person, email), class:"text-decoration-none text-light" %>
    </button>

    <button class="btn btn-dark mx-1">
        <%= link_to "Delete", person_path(@person), class:"text-decoration-none text-light", data: {
            turbo_method: :delete,
            turbo_confirm: "Delete email?"
            } %>
    </button>
</article>